body {
    background-image: url(https://www.bhmpics.com/downloads/wooden-back-ground-Wallpapers/7.2797527.jpg);
    background-size: cover;
}
img {
    border: solid white 3px;
    padding: 5px;
    width: 25%;
    align-items: center;
}
p {
    display:block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:x-large;
    text-align: center;
    background-color:antiquewhite;
    opacity: 0.5;
    color: black;
}
h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    background-color: blanchedalmond;
}
.video {
    position:relative;
    text-align: center !important;
    width: 100%;
    padding-bottom: 56.25%;
}
iframe {
    position:absolute;
    top: 0;
    bottom: 50px;
    left: 320px;
    width: 60%;
    height: 60%;
  }
.list {
    font-size: xx-large;
}
.nav {
    position: relative;
    float:right;
    z-index: 1;
    font-size: larger;
}
.top {
    font-size: larger;
}